@model ECommerceFPE.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<style>
    .update-center {
        justify-content: center;
    }

    .border {
        border: 1px solid #088178 !important;
    }

</style>




<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a asp-controller="Home" asp-action="Index" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> Login / Register
            </div>
        </div>
    </div>
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row update-center">
                        <div class="col-lg-6">
                            <div class="border login_wrap widget-taber-content p-30 background-white border-radius-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h3 class="mb-30">Create an Account</h3>
                                    </div>

                                    <form asp-action="Register" asp-controller="Account" method="post">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label asp-for="FirstName" class="control-label"></label>
                                                <input asp-for="FirstName" class="form-control" />
                                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label asp-for="LastName" class="control-label"></label>
                                                <input asp-for="LastName" class="form-control" />
                                                <span asp-validation-for="LastName" class="text-danger"></span>
                                            </div>


                                            <div class="form-group col-md-12">
                                                <label asp-for="Email" class="control-label"></label>
                                                <input asp-for="Email" class="form-control" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label asp-for="Address" class="control-label"></label>
                                                <input asp-for="Address" class="form-control" />
                                                <span asp-validation-for="Address" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label asp-for="Password" class="control-label"></label>
                                                <input asp-for="Password" class="form-control" />
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                                <input asp-for="ConfirmPassword" class="form-control" />
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>


                                        <div class="form-row d-flex justify-content-end pt-1">
                                            <div class="form-group col-md-12 d-flex justify-content-end">
                                                    <input type="submit" value="Create" class="btn btn-brand" style="background-color:#088178;color:white" />
                                            </div>
                                        </div>
                                    </form>
                                    <div class="divider-text-center mt-15 mb-15">
                                        <span> or</span>
                                    </div>

                                    <div class="text-muted text-center">Already have an account? <a asp-action="Login" asp-controller="Account">Sign in now</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



