@{
    ViewData["Title"] = "Home Page";
}

<section class="home-slider position-relative pt-50">
    <div>
        <div class="single-hero-slider single-animation-wrap">
            <div class="container">
                <div class="row align-items-center slider-animated-1">
                    <div class="col-lg-5 col-md-6">
                        <div class="hero-slider-content-2">
                            <h4 class="animated">Trade-in offer</h4>
                            <h2 class="animated fw-900">Supper value deals</h2>
                            <h1 class="animated fw-900 text-brand">On all products</h1>
                            <p class="animated">Save more up to 70% off</p>
                            <a class="animated btn btn-brush btn-brush-3" asp-controller="Home" asp-action="ProductSale"> Shop Now </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="single-slider-img single-slider-img-1">
                            <img class="animated slider-1-1" src="~/assets1/imgs/slider/slider-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="featured section-padding position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                <div class="banner-features wow fadeIn animated hover-up">
                    <img src="~/assets1/imgs/theme/icons/feature-1.png" alt="">
                    <h4 class="bg-1">Free Shipping</h4>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                <div class="banner-features wow fadeIn animated hover-up">
                    <img src="~/assets1/imgs/theme/icons/feature-2.png" alt="">
                    <h4 class="bg-3">Online Order</h4>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                <div class="banner-features wow fadeIn animated hover-up">
                    <img src="~/assets1/imgs/theme/icons/feature-3.png" alt="">
                    <h4 class="bg-2">Save Money</h4>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                <div class="banner-features wow fadeIn animated hover-up">
                    <img src="~/assets1/imgs/theme/icons/feature-4.png" alt="">
                    <h4 class="bg-4">Promotions</h4>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                <div class="banner-features wow fadeIn animated hover-up">
                    <img src="~/assets1/imgs/theme/icons/feature-5.png" alt="">
                    <h4 class="bg-5">Happy Sell</h4>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                <div class="banner-features wow fadeIn animated hover-up">
                    <img src="~/assets1/imgs/theme/icons/feature-6.png" alt="">
                    <h4 class="bg-6">24/7 Support</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="banner-2 section-padding pb-0">
    <div class="container">
        <div class="banner-img banner-big wow fadeIn animated f-none">
            <img src="~/assets1/imgs/banner/banner-4.png" alt="">
            <div class="banner-text d-md-block d-none">
                <h4 class="mb-15 mt-40 text-brand">Repair Services</h4>
                <h1 class="fw-600 mb-20">We're an Apple <br>Authorised Service Provider</h1>
                <a href="shop-grid-right.html" class="btn">Learn More <i class="fi-rs-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="popular-categories section-padding mt-15 mb-25">
    <div class="container wow fadeIn animated">
        <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
        <div class="carausel-6-columns-cover position-relative">
            <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
            <div class="carausel-6-columns" id="carausel-6-columns">

                @foreach (var category in ViewBag.categoryList)
                {
                    <div class="card-1">
                        <figure class="img-hover-scale overflow-hidden">
                            <a asp-controller="Home" asp-action="Category" asp-route-CategoryName="@category.CategoryName">
                                <img src="~/CategoryImg/@category.ImageUrl" alt="">
                            </a>
                        </figure>
                        <h5><a asp-controller="Home" asp-action="Category" asp-route-CategoryName="@category.CategoryName">@category.CategoryName</a></h5>
                    </div>
                }

            </div>
        </div>
    </div>
</section>