@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "UsersList";
}

<h1>Users List</h1>
<a asp-action="Register" asp-controller="Account" asp-area="" class="btn btn-success mb-3">Register User</a>


@foreach (var user in Model)
{
    <div class="card mb-4">
        <div class="card-header">
            User Details
        </div>
        <div class="card-body mb-1">
            <p><b>First Name:</b> @user.FirstName</p>
            <p><b>Last Name:</b> @user.LastName</p>
            <p><b>Email:</b> @user.Email</p>
            <p><b>Country:</b> @user.Address</p>
        </div>
    </div>
}

    <hr />
