@model ECommerceFPE.Models.ViewModels.ImagesModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Images</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MainImageUrl" class="control-label"></label>
                <input asp-for="MainImageUrlFile" class="form-control" type="file"/>
                <span asp-validation-for="MainImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainImageUrl1" class="control-label"></label>
                <input asp-for="MainImageUrl1File" class="form-control" type="file" />
                <span asp-validation-for="MainImageUrl1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainImageUrl2" class="control-label"></label>
                <input asp-for="MainImageUrl2File" class="form-control" type="file" />
                <span asp-validation-for="MainImageUrl2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainImageUrl3" class="control-label"></label>
                <input asp-for="MainImageUrl3File" class="form-control" type="file" />
                <span asp-validation-for="MainImageUrl3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageOrder" class="control-label"></label>
                <input asp-for="ImageOrder" class="form-control" />
                <span asp-validation-for="ImageOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
