<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!--Links-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="~/assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.14/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.14/dist/sweetalert2.all.min.js"></script>
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="~/assets1/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" asp-area="Administrator" asp-controller="Dashboard" asp-action="Index">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                         <a asp-area="Administrator" asp-controller="Category" asp-action="Index">Add Categories</a>
                        <a asp-area="Administrator" asp-controller="Category" asp-action="ShowSoftDeleted">Categories Deleted</a>
                        <a asp-area="Administrator" asp-controller="Product" asp-action="Index">Add Product</a>
                        <a asp-area="Administrator" asp-controller="Product" asp-action="ShowSoftDeleted">Products Deleted</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a asp-area="Administrator" asp-action="Index" asp-controller="Orders">Orders</a>
                        <a asp-area="Administrator" asp-action="ShowSoftDeleted" asp-controller="Orders">Orders Deleted</a>
                    </div>
                </li>
             
                <li class="menu-item">
                    <a class="menu-link" asp-area="Administrator" asp-action="Index" asp-controller="ReviewAll">
                        <i class="icon material-icons md-comment"></i>
                        <span class="text">Website Reviews</span>
                    </a>
                </li>
               
            </ul>
            <hr>
           
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">

                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">Hello @User.Identity.Name</a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">


                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" asp-area="" asp-action="Logout" asp-controller="Account"><i class="material-icons md-exit_to_app"></i>Logout</a>

                            @* asp-area="Administrator" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"*@
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main section dashboard" style="background-color:#ededed">
            @RenderBody()
        </section>
    </main>
    
    <script src="~/evara-backend/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="~/evara-backend/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="~/evara-backend/assets/js/vendors/select2.min.js"></script>
    <script src="~/evara-backend/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="~/evara-backend/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="~/evara-backend/assets/js/vendors/chart.js"></script>
   
    <!-- Main Script -->
    <script src="~/evara-backend/assets/js/main.js" type="text/javascript"></script>
    <script src="~/evara-backend/assets/js/custom-chart.js" type="text/javascript"></script>

    <!--Links-->

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

    
    <script>
        $(document).ready(function() {
            $('example').DataTable();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>